
/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */

body {
  font-family: Helvetica;
  font-weight: 100;
}

.img {
  margin-top: 25px;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
}

.img-sm {
  margin-top: 25px;
  margin-bottom: 25px;
}

.img-day{
  margin-top: 25px;
  margin-bottom: 25px;
}

.btm {
  margin-bottom: 25px;
  font-size: 1.2em;
}

.top {
  margin-top: 25px;
  font-size: 1.2em;
}

.flex-images {
  display: flex;
  flex-wrap: wrap;
  margin: 15px;
  border-bottom: 1px solid #999;
}

img.flex-img {
  width: 30%;
  height: 30%;
  padding: 15px;
  display: block;
}

img.main-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 95%;
  vertical-align: center;
}

img.img-small {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
  vertical-align: center;
}

.nav {
  margin-bottom: 25px;
}

.main {
    margin-bottom: 25px;
}

.borderbtm {
  border-bottom: 1px solid #999;
  border-top: 1px solid #999;
}

.bordertop {
  border-top: 1px solid #999;
  margin-top: 20px;
}

h3.list-heading {
  font-size: 1.5em;
  padding-bottom: 5px;
  border-bottom: 1px solid #999;
}

p {
  margin-bottom: 0.5rem;
}

p.day {
  text-align: center;
  margin: 0;
}

p.center {

  max-width: 60%;
  text-align: center;
  margin: 0 auto;
}

p.bold {
  margin-top: 10px;
  font-weight: bold;
}

p.name {
  font-size: 2.5em;
  margin:0;
  text-align: center;
  line-height: 1.2em;
}

p.info {
  font-size: 1.1em;
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 1.3em;
}

p.intro {
  font-weight: bold;
  margin: 0;
}

p.intro-text {
  margin: 0;
}

p.details{
  float: right;
  font-size: 1.3em;
  font-style: italic;
  margin-top: 1.5rem;
}

ul.hotels-list {
  margin: 0;
}

li {
  margin: 8px 10px 0px 0px;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.9em;
}

li.hotels {
  text-align: left;
  text-transform: none;
  font-size: 1.0em;
}

a.nav {
  text-decoration: none;
}

a.nav:hover {
  border-bottom: 1px solid #000;
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 640px) {

    .nav-collapse ul {
      display: block;
    }

    p.name {
        margin-bottom: 5px;
        font-size: 1.7em;

    }

    p.info {

        float:left;
        font-size: 1.0em;
        margin-bottom: 0.2em;
        width: 100%;
    }

    p.center {
      max-width: 100%;
    }

    .img {
      margin: 20px 0px 0px 0px;
      border: none;
    }

    .img-day {
      margin-top: 0;
    }

    .main {
      margin-bottom: 10px;
    }

    p.details{
      float: right;
      font-size: 1.0em;
      font-style: italic;
      margin-top: 1.0rem;
    }

    .flex-images {
      margin: 0;
    }

    img.flex-img {
      width: 95%;
      height: 95%;
      padding-top: 15px;
      display: block;
    }

    img.img-small {
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 100%;
      vertical-align: center;
    }

    .borderbtm {
      padding: 5px;
      text-align: center;
    }

}
